* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color: hsl(225, 100%, 94%);
    background-image: url(/images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 667px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 100%;
}

#components {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px #fff;
    border-radius: 15px;
    overflow: hidden;
}

#component_img {
    background-image: url(/images/illustration-hero.svg);
    background-size: cover;
    width: 100%;
    max-width: 445px;
    height: 33%;
}

#article {
    background-color: #fff;
    height: 439px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#order_summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h2 {
    margin: 25px 0 15px;
    font-size: 1.6rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

p {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5;
    color: hsl(224, 23%, 55%);
}

#plan {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1.3em;
    border-radius: 5px;
    background-color: hsl(225, 100%, 98%);
    box-shadow: 0 10px 15px 0 hsl(0deg 0% 85%);
    margin-top: 15px;
}

#option_1 {
    display: flex;
    flex-direction: column;
    margin-left: 1.1rem;
}

h5 {
    font-size: 0.91rem;
    font-weight: 900;
    margin-bottom: 6px;
    color: hsl(223, 47%, 23%);
}

#option_1 span {
    font-size: 1.12rem;
    color: hsl(224, 23%, 55%);

}

#plan > a {
    font-weight: 700;
    margin-left: 5rem;
    color: hsl(245, 75%, 52%);
}

#plan > a:hover {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

#payment_plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 363px;
}

#payment_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 360px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 10px 15px 0 hsl(245, 75%, 75%);
    background-color: hsl(245, 75%, 52%);
}

#payment_1 > a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#payment_1:hover {
    background-color: hsl(224, 23%, 55%);
}

#payment_2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#payment_2 > a {
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    margin-top: 10px;
}

#payment_2 > a:hover {
    color: hsl(223, 47%, 23%);
}


/******* Mobile Phones *******/
@media (max-width: 414px) {
    body {
        background-size: auto;
    }

    main {
        width: 375px;
    }

    #container {
        width: 365px;
        height: 94%;
    }

    #component_img {
        width: 100%;
        height: 178px;
    }

    #article {
    
    }

    h2 {
        margin: 30px 0 30px 0;
        font-size: 150%;
    }

    #payment_plan {
        width: 88.8888888889%;
    }

    #plan {
        margin-top: 25px;
    }

    #plan > img {
        margin: 0;
    }

    #option_1 {
        margin-left: 6.25%;
    }

    #plan > a {
        margin-left: 15.625%;
    }

    #payment_1 {
        width: 100%;
    }
}
